[submodule "vendor/agent"]
	path = vendor/agent
	url = https://github.com/ZSeven-W/agent-rs.git
[submodule "vendor/jian"]
	path = vendor/jian
	url = https://github.com/ZSeven-W/jian.git
[submodule "vendor/casement"]
	path = vendor/casement
	url = https://github.com/ZSeven-W/casement.git
	branch = op-file-open
